{% extends 'frontend/base.html' %}
{% block content %}

<h4>Edit File {{ file.name }}</h4>

<form method="POST" action="/backend/folder/editFile" class="col s12" enctype="multipart/form-data">{% csrf_token %}
  <input name="idFolder" value={{ folder.id }} type="hidden"/>
  <input name="idFile" value={{ file.id }} type="hidden"/>
  <div class="row">
      <div class="file-field col s6 input-field">
          <div class="btn">
            <span>File</span>
            <input name="file" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
      </div>
  <button class="btn waves-effect waves-light col s2" type="submit" name="action">Create
      <i class="material-icons right">send</i>
  </button>
</form>
  <form method="GET" action="/viewFolder">
    <input name="id" value={{ folder.id }} type="hidden"/>
    <button type="submit" class="btn waves-effect waves-light offset-s1 col s2">Go Back</button>
  </form>
</div>
{% endblock content %}
