{% extends 'frontend/base.html' %}
{% block content %}

<h4>Edit Folder</h4>
<form method="POST" action="/backend/folder/edit" class="col s12">{% csrf_token %}
    <div class="row">
        <div class="input-field col s6">
            <input value={{ folder.name }} name="name" id="name" type="text">
            <label for="name">Folder Name</label>
            <input name="id" value={{ folder.id }} type="hidden"/>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Edit
        <i class="material-icons right">send</i>
    </button>
</form>
{% endblock content %}
