{% extends 'frontend/base.html' %}
{% block content %}

<h4>Share folder {{ folder.name }}</h4>

<form method="POST" action="/backend/folder/share" class="col s12">{% csrf_token %}
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Username" name="name" id="name" type="text">
            <label for="name">Username</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create
        <i class="material-icons right">send</i>
    </button>
</form>
{% endblock content %}
